<h1>Test</h1>
 
  <script>
  $(function() {
    $( "#tabs" ).tabs({
      selected: -1,
      collapsible: true,
      fx: { height: 'toggle', duration: 'default' }
    });
  });
  </script>
  
    <script type="text/javascript">
  $(document).ready(function(){
    $('.thumb').hover(function(){
      $('.details', this).stop().fadeTo('fast', 1);
    }, function(){
      $('.details', this).stop().fadeTo('fast', 0);
    });
  });
  </script>
</head>
<body>

<div id="content">
  <div id="top">
  <ul class="foguete-top">
    <li>1 = R$60,00</li>
    <li class="text-yellow">Foguete de Compras</li>
    <li><img src="images/foguete1.jpg" width="16" height="20" alt="Foguete1"></li>
  </ul>
  </div><!--top-->
  
  <div class="pagehomeBody">
  
    <div id="header">
    <h1 class="logo"><a href="index.html" title="Home"></a></h1>
    <ul class="ulheader">
    <li><a class="contato" href="contato.html"></a></li>
    <li><a href="conteudo.html">Conteúdo</a></li>
    <li><a href="qualidade.html">Qualidade</a></li>
    <li><a href="duvidas.html">Dúvidas</a></li>
    <!-- like facebook -->
    <li class="face"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.vandal.com.br&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
    <li class="twitter"><a href="http://twitter.com/#!/vandalbird" target="_blank">Siga-nos</a></li>
    </ul>
    <ul class="menu">
    <li><a class="ativo" href="index.html">Estampas</a></li>
    <li><a href="crie-sua-camiseta.html">Crie sua camiseta</a></li>
    <li><a href="login-intagram.html" class="instagram">Crie com</a></li>
    <li><a href="publique-estampas.html">Publique suas estampas</a></li>
    </ul>
    </div><!--header-->
  
    </div><!-- pagehomeBody -->   
    
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Categorias</a></li>
        <li><a href="#tabs-2">Artistas</a></li>
      </ul>
      <div id="tabs-1">
        <div class="pagehomeBody">  
          <ul class="thumbs-categorias">
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">3D</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Abstrato</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Animais</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Arquitetura</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">preto e branco</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">design grafico</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Humor</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Horror</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Games</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Comics</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Games</a></li>
            <li><a href="javascript:;"><img src="images/thumb-categorias.jpg" width="158" height="158" alt="Thumb Artistas1">Comics</a></li>
          </ul>
        </div><!-- pagehomeBody -->
      </div><!-- tabs-1 -->
      <div id="tabs-2">
        <div class="pagehomeBody">  
          <ul class="thumbs-categorias">
            <li><a href="javascript:;"><img src="images/thumb-artistas1.jpg" width="158" height="158" alt="Thumb Artistas1">'HOLY!COW'</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas2.jpg" width="158" height="158" alt="Thumb Artistas1">+ Jobs Forever +</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas3.jpg" width="158" height="158" alt="Thumb Artistas1">1-bit Clothing</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas4.jpg" width="158" height="158" alt="Thumb Artistas1">16mm</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas1.jpg" width="158" height="158" alt="Thumb Artistas1">Cloudmind
            </a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas2.jpg" width="158" height="158" alt="Thumb Artistas1">Casa Vendida</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas3.jpg" width="158" height="158" alt="Thumb Artistas1">ChocoLoja</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas4.jpg" width="158" height="158" alt="Thumb Artistas1">chicão KMZTS</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas1.jpg" width="158" height="158" alt="Thumb Artistas1">Diego Maldonado</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas2.jpg" width="158" height="158" alt="Thumb Artistas1">Daryll Peirce</a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas3.jpg" width="158" height="158" alt="Thumb Artistas1">Emerson Rauth
            </a></li>
            <li><a href="javascript:;"><img src="images/thumb-artistas4.jpg" width="158" height="158" alt="Thumb Artistas1">erre clothing</a></li>
          </ul>
          <p class="textaligncenter"><a class="bt-black-gradient" href="javascript:;">Ver todos</a></p>
        </div><!-- pagehomeBody -->
      </div>
    </div><!-- tabs -->
     
    <div class="pageBody" style="margin:0 auto 0 auto;">  
    <hr />
    <ul class="filtros">
      <li><a href="javascript:;">Destaque</a></li>
      <li><a href="javascript:;">Favoritas</a></li>
      <li><a class="ativo" href="javascript:;">Novas</a></li>
      <li><a class="shuffle" href="javascript:;"></a></li>
    </ul>
    <form class="textarea-filtro">
    <input type="text" placeholder="O que você curte?" />
    <input type="submit" value="" class="find" />
    </form>
    <br clear="all"/>
    
     <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    
    <div class="thumb">
      <a href="uma-estampa.html"><img src="images/thumb1.jpg" width="230" height="300" alt="Thumb1"></a>
      <div class="details">
       <h1><a href="uma-estampa.html">baby i`m yours</a></h1>
       <p>by <a href="loja.html">LunckBreak</a></p>
       <h2>R$<span>60,00</span></h2>
       <h3>76</h3>
       <a class="like" href="javascript:;"></a>
      </div><!-- details click -->
     </div><!-- thumb -->
    

    </div><!-- pageBody -->
  
    <div id="footer">
      <div class="footerBody">
        <hr />
        <div class="float-left">
          <h3>Top Artistas</h3>
          <a class="thumb-artista" href="javascript:;"></a>
          <a class="thumb-artista" href="javascript:;"></a>
          <a class="thumb-artista" href="javascript:;"></a>
          <a class="thumb-artista" href="javascript:;"></a>
          <a class="thumb-artista" href="javascript:;"></a>
          <a class="thumb-artista" href="javascript:;"></a>
          <a class="thumb-artista" href="javascript:;"></a>
          <a class="thumb-artista" href="javascript:;"></a>
        </div><!-- float-left -->
        <h3>Vandal no Face</h3>
      
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      
        <div class="fb-like" data-href="http://www.facebook.com/estagiariovandal" data-send="false" data-width="450" data-show-faces="true"></div>
      </div><!-- footerBody -->
      
      <div id="footer-black">
        <div class="footerBody">
          <div class="part">
            <div class="float-left">
              <ul class="ulfooter">
                <li><a href="estampas.html">Estampas</a></li>  
                <li><a href="publique.html">Publique suas estampas</a></li>  
                <li><a href="duvidas.html">Dúvidas</a></li>
              </ul>
            </div><!-- float-left -->
            <div class="float-left">
              <ul class="ulfooter">
                <li><a href="contato.html">Fale com a gente</a></li>    
                <li><a href="nao-gostei.html">Não gostei de nada</a></li>     
                <li><a href="termos.html">Termos de uso</a></li>
              </ul>
            </div><!-- float-left -->
            <p class="direitos float-left">VANDAL - Alguns direitos reservados</p>
          </div><!-- part -->
          <div class="part">
          Receba inspiração e promoções especiais
              <form class="textarea-footer">
              <input type="text" placeholder="Seu e-mail" />
              <input type="submit" value="Quero Receber" />
              </form>
          </div><!-- part -->
          <img src="images/pagamentos.rodape.jpg" width="100" height="79" alt="Pagamentos.Rodape">
        </div><!-- footerBody -->
      </div><!-- footer-black -->
    </div><!-- footer -->
  </div><!-- content -->
</body></html>

    <h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= product.description %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
